.hero {
  background-image: url('./img/mail-boxes-etc-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero_light {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
