section {
  background-color: #F8FAF9;
}

.navbar-index {
  padding-bottom: 50px;
}

.box .content{
  background-color: #fff9f3fa;
}

.box {
  background-color: #a28d8d38;
  box-shadow: 0 0 5px black;
}
